*.bbl
.gitignore
*.aux
*.blg
*.log
*.out
refs.bib
\\#.*
.*\\#
\\#.*\\#
#.*
*.agdai
/dialectica-spaces/#lineales.agda#
*.spl
/drafts/GraMSec2016/atrees-ott.tex
/drafts/GraMSec2016/main-output.tex
visitors/*
/drafts/GraMSec2016/.#main.tex
/CT-seminar-summer16/#participants.txt#
mini-proposal-summer16/*
*-output.tex
/drafts/type-level-Lina/type-level-Lina.tex
Travel/*
