*.bbl
.gitignore
*.aux
*.blg
*.log
*.out
refs.bib
\\#.*
.*\\#
\\#.*\\#
#.*
*.agdai
/dialectica-spaces/#lineales.agda#
*.spl
/drafts/GraMSec2016/atrees-ott.tex
/drafts/GraMSec2016/main-output.tex
visitors/*
