*.bbl
.gitignore
*.aux
*.blg
*.log
*.out
refs.bib
\\#.*
.*\\#
\\#.*\\#
#.*
*.agdai
/dialectica-spaces/#lineales.agda#
*.spl
/drafts/GraMSec2016/atrees-ott.tex
/drafts/GraMSec2016/main-output.tex
visitors/*
/drafts/GraMSec2016/.#main.tex
/CT-seminar-summer16/#participants.txt#
mini-proposal-summer16/*
*-output.tex
/drafts/type-level-Lina/type-level-Lina.tex
Travel/*
/drafts/Proposal-the-Project-Short/RootUnixATree.png
*-ott.tex
/talks/IA-Fall-2016/Makefile
/talks/IA-Fall-2016/STUXnet-atree.tex
/talks/IA-Fall-2016/main.pdf
/talks/IA-Fall-2016/main.tex
/talks/IA-Fall-2016/stuxnet-atree.gv
/drafts/Proposal-the-Project-Short/GraMSec16-reviews.txt
/drafts/Proposal-the-Project-Short/PLAS16-reviews.txt
/drafts/Proposal-the-Project-Short/main-old.tex
hiring/*
/drafts/Proposal-the-Project-Short/ll-attack.tex
server/*
/drafts/Proposal-the-Project-Short/intro-output1.tex
/drafts/Proposal-the-Project-Short/intro-output1.tex.backup
/drafts/Proposal-the-Project-Short/main-output1.tex
/drafts/Proposal-the-Project-Short/main-output1.tex.backup
scripts/*
scripts/.*
scripts/*
drafts/Proposal-the-Project-Short/scripts/*
attack-trees/attack-trees.tex
/drafts/LFCS17/attack-trees/attack-trees.tex
/drafts/LFCS17/attack-trees/attack-trees.pdf
